<h1 class="text-center">{{ titulo }}</h1>

<div class="container">
  <div class="card border-dark">
    <img
      src="{{ url + 'get-imagen/' + plato.imagen }}"
      *ngIf="plato.imagen"
      class="card-img-top"
      alt="Plato {{ plato.nombre }}"
   
    />
    <div class="card-body">
      <h5 class="card-title">Nombre del plato: {{ plato.nombre }}</h5>
    </div>
    <ul class="list-group list-group-flush ">
      <li class="list-group-item border-dark">Descripcion del plato: {{ plato.descripcion }}</li>
      <li class="list-group-item border-dark">Categoria del plato: {{plato.categoria}}</li>
      <li class="list-group-item">Precio del plato: {{plato.precio}}</li>
    </ul>
    <div class="card-body">
      <a [routerLink]="['/editarPlato', plato._id]" class="btn btn-primary " role="button">Editar</a>

      <a (click)="borrarPlato(plato._id)" class="btn btn-primary ms-3" role="button">Borrar</a>
    </div>
  </div>
</div>
