<h1 class="text-center">{{ titulo }}</h1>
<div class="container">
  <form #platoForm="ngForm" (ngSubmit)="guardarPlato(platoForm)">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre del Plato</label>
      <input
        type="text"
        class="form-control"
        placeholder="Escriba el nombre del plato"
        name="nombre"
        #nombre="ngModel"
        [(ngModel)]="plato.nombre"
        required
      />
      <span class="badge bg-danger" *ngIf="nombre.touched && !nombre.valid">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          role="img"
          aria-label="Warning:"
          fill="currentColor"
          class="bi bi-exclamation-triangle"
          viewBox="0 0 16 16"
        >
          <path
            d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"
          />
          <path
            d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"
          />
        </svg>

        Campo obligatorio
      </span>
    </div>
    <div class="mb-3">
      <label for="descripcion" class="form-label">Descripcion del Plato</label>
      <textarea
        class="form-control"
        placeholder="Escriba la descripcion del plato"
        name="descripcion"
        #descripcion="ngModel"
        [(ngModel)]="plato.descripcion"
        required
        rows="3"
      ></textarea>
      <span class="badge bg-danger" *ngIf="descripcion.touched && !descripcion.valid">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          role="img"
          aria-label="Warning:"
          fill="currentColor"
          class="bi bi-exclamation-triangle"
          viewBox="0 0 16 16"
        >
          <path
            d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"
          />
          <path
            d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"
          />
        </svg>

        Campo obligatorio
      </span>
    </div>
    <div class="mb-3">
      <label for="categoria" class="form-label">Categoria del Plato</label>
      <input
        type="text"
        class="form-control"
        placeholder="Escriba la categoria del plato"
        name="categoria"
        #categoria="ngModel"
        [(ngModel)]="plato.categoria"
        required
      />
      <span class="badge bg-danger" *ngIf="categoria.touched && !categoria.valid">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          role="img"
          aria-label="Warning:"
          fill="currentColor"
          class="bi bi-exclamation-triangle"
          viewBox="0 0 16 16"
        >
          <path
            d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"
          />
          <path
            d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"
          />
        </svg>

        Campo obligatorio
      </span>
    </div>
    <div class="mb-3">
      <label for="precio" class="form-label">Precio del Plato</label>
      <div class="input-group">
        <input
          type="number"
          class="form-control"
          aria-label="Dollar amount (with dot and two decimal places)"
          placeholder="Escriba el precio del plato"
          name="precio"
          #precio="ngModel"
          [(ngModel)]="plato.precio"
          required
        />
        <span class="input-group-text">$</span>
        <span class="input-group-text">0.00</span>
      </div>
      <span class="badge bg-danger" *ngIf="precio.touched && !precio.valid">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          role="img"
          aria-label="Warning:"
          fill="currentColor"
          class="bi bi-exclamation-triangle"
          viewBox="0 0 16 16"
        >
          <path
            d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"
          />
          <path
            d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"
          />
        </svg>

        Campo obligatorio
      </span>
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupFile01">Imagen</label>
    

      <input
        type="file"
        class="form-control"
        id="inputGroupFile01"
        name="imagen"
        #fileInput
        placeholder="Selecionar imagen"
        (change)="imagenChangeEvent($event)"
      />
      <span class="" *ngIf="plato.imagen" style="float: left">
        <img
          src="{{ url + 'get-imagen/' + plato.imagen }}"
          style="width: 35px"
        />
      </span>
    </div>

   

    <input
      type="submit"
      class="btn btn-primary"
      value="Guadar"
      [disabled]="!platoForm.form.valid "
    />

  


    
  </form>

  
</div>



